.black{
    background-color: rgb(205, 7, 7);
    width: 350px;
    margin-top: 30px;
    margin-left: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.red{
    background-color: rgb(14, 140, 10);
    width: 350px;
    margin-top: 30px;
    margin-left: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.background-textarea{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 60px;
    margin: 5px;
}
